<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/css/main.css}"/>
<script th:src="@{/js/bootstrap.min.js}" defer></script>
<script th:src="@{/js/search.js}" defer></script>
<head>
    <meta charset="UTF-8"/>
    <title>Customers</title>
</head>
<body>
<div class="container">
    <div class="container mt-2">
        <div class="input-group">
            <div class="form-outline">
                <input type="search" id="searchInput" class="form-control" placeholder="Search for a song"/>
                <!-- <label class="form-label" for="searchInput">Search</label>-->
            </div>
            <button id="searchButton" type="button" class="btn btn-primary" th:onclick="search()">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </i>
            </button>
        </div>
        <div class="text-danger mt-2" id="errorDiv"></div>
    </div>


    <h3>Artists:</h3>
    <table class="table">
        <thead>
        <tr>
            <th class="w-25" scope="col">Id</th>
            <th class="w-auto" scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="artist: ${artists}">
            <th scope="row" th:text="${artist.id()}"></th>
            <td th:text="${artist.name()}"></td>
        </tr>
        </tbody>
    </table>


    <h3>Tracks:</h3>
    <table class="table">
        <thead>
        <tr>
            <th class="w-25" scope="col">Id</th>
            <th class="w-auto" scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="track: ${tracks}">
            <th scope="row" th:text="${track.id()}"></th>
            <td th:text="${track.name()}"></td>
        </tr>
        </tbody>
    </table>


    <h3>Genres:</h3>
    <table class="table">
        <thead>
        <tr>
            <th class="w-25" scope="col">Id</th>
            <th class="w-auto" scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre: ${genres}">
            <th scope="row" th:text="${genre.id()}"></th>
            <td th:text="${genre.name()}"></td>
        </tr>
        </tbody>
    </table>


</div>

</body>
</html>
