<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" defer></script>
<script th:src="@{/js/result.js}" defer></script>
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<div class="container">
    <h1 id="resultHeader"></h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
            <th scope="col">Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song: ${songs}">
            <th scope="row" th:text="${song.id()}"></th>
            <td th:text="${song.name()}"></td>
            <td th:text="${song.artist()}"></td>
            <td th:text="${song.album()}"></td>
            <td th:text="${song.genre()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>